<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Host"
            id="Host">
      </category>
         
      <view
      		allowMultiple="true"
      		restorable="false"
      		category="Host"
            class="com.netifera.platform.host.processes.ui.ProcessListView"
            icon="icons/processes.png"
            id="com.netifera.platform.ui.views.ProcessList"
            name="Process List">
      </view>
   </extension>

</plugin>
