<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.netifera.platform.ui.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.netifera.platform.ui.application.Perspective"
            icon="icons/tools_perspective.png"
            id="com.netifera.platform.ui.perspectives.tool"
            name="Tools">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.netifera.platform.ui.application.application"
            name="Netifera">
         <property
               name="windowImages"
               value="icons/netifera_16.ico,icons/netifera_32.ico,icons/netifera_48.png,icons/netifera_64.png,icons/netifera_128.png">
         </property>
         <property
               name="appName"
               value="Netifera">
         </property>
         <property
               name="aboutImage"
               value="netifera_about.bmp">
         </property>
         <property
               name="aboutText"
               value="netifera platform 1.0 BETA">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.netifera.platform.actionset.workspace"
            label="Workspace Actions"
            visible="true">
         <action
               class="com.netifera.platform.ui.application.workspaces.NewWorkspaceDelegate"
               icon="icons/new_workspace.png"
               id="com.netifera.platform.action.new_workspace"
               label="New Workspace"
               style="push"
               toolbarPath="Normal"
               tooltip="New Workspace">
         </action>
         <action
               class="com.netifera.platform.ui.application.workspaces.OpenWorkspaceDelegate"
               icon="icons/open_workspace.png"
               id="com.netifera.platform.action.open_workspace"
               label="Open Workspace"
               style="push"
               toolbarPath="Normal"
               tooltip="Open Workspace">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.netifera.platform.ui.application.workspaces.CloseWorkspaceHandler"
            id="com.netifera.platform.ui.application.closeWorkspace"
            name="Exit">
      </command>
          <command
            defaultHandler="com.netifera.platform.ui.application.workspaces.OpenWorkspaceHandler"
            id="com.netifera.platform.ui.application.openWorkspace"
            name="Open Workspace">
      </command>
      <command
            defaultHandler="com.netifera.platform.ui.application.workspaces.NewWorkspaceHandler"
            id="com.netifera.platform.ui.application.newWorkspace"
            name="New Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <command
				commandId="com.netifera.platform.commands.newSpace"
				label="New Space ..."
				mnemonic="N"
            	style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Open Space ..."
                  mnemonic="O"
                  style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="com.netifera.platform.views.spaceList">
                  </parameter>
                  <parameter
                        name="org.eclipse.ui.views.showView.makeFast"
                        value="true">
                  </parameter>
            </command>
                        <separator
                  name="com.netifera.platform.ui.application.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.netifera.platform.ui.application.openWorkspace"
                  label="Open Workspace..."
                  mnemonic="W"
                  style="push">
            </command>
            <command
                  commandId="com.netifera.platform.ui.application.newWorkspace"
                  label="New Workspace..."
                  mnemonic="K"
                  style="push">
            </command>
            <separator
                  name="com.netifera.platform.ui.application.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.netifera.platform.ui.application.closeWorkspace"
                  label="E&amp;xit"
                  mnemonic="X"
                  style="push">
            </command>  
         </menu>
         </menuContribution>
         <menuContribution
                     locationURI="menu:org.eclipse.ui.main.menu?before=help">
         <menu
               id="window"
               label="Window"
               mnemonic="W">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closeAllPerspectives"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.showViewMenu"
                  style="push">
            </command>
            <menu
                  id="openView"
                  label="Open view">
            </menu>
         </menu>
         </menuContribution>
		 <menuContribution
                     locationURI="menu:org.eclipse.ui.main.menu?after=window">
         <menu
			   id="help"
               label="Help"
               mnemonic="H">
         </menu>
      </menuContribution>       
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.netifera.platform.ui.category.general"
            name="General">
      </category>
	  <category
            id="com.netifera.platform.ui.category.tasks"
            name="Tasks">
      </category>
   </extension>
</plugin>
