<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.netifera.platform.ui.category.tasks"
            class="com.netifera.platform.ui.tasks.list.TasksView"
            icon="icons/lightbulb_off.png"
            id="com.netifera.platform.ui.views.Tasks"
            name="Tasks">
      </view>
      <view
            allowMultiple="true"
            restorable="false"
            category="com.netifera.platform.ui.category.tasks"
            class="com.netifera.platform.ui.tasks.output.TaskOutputView"
            icon="icons/log_16x16.png"
            id="com.netifera.platform.ui.views.TaskOutput"
            name="Task Output">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.netifera.platform.ui.perspectives.tool">
         <view
               id="com.netifera.platform.ui.views.Tasks"
               ratio="0.55"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <viewShortcut id="com.netifera.platform.ui.views.Tasks"/>
	      </perspectiveExtension>
   </extension>

</plugin>
